@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import "reset.css";
@import "variables.css";

/* components first */

@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-components.css";
@import "components/badge.css";

/* screens */

@import "screens/login.css";
@import "screens/fiends.css";
body {
  height: vh;
  font-family: "Didact Gothic", sans-serif;
  background-color: var(--dark);
  color: var(--white);
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
