@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import "reset.css";
@import "variables.css";

/* components first */
@import "components/status-bar.css";
@import "components/nav-bar.css";

/* screens */
@import "screens/login.css";

body {
  font-family: "Didact Gothic", sans-serif;
  background-color: var(--dark);
  color: var(--white);
}
